@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar-track {
  background-color: #cccccc;
}
::-webkit-scrollbar {
  width: 8px;
  background: #cccccc;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgb(75 85 99);
}